<div>
  <h2>Equipment</h2>
  <br>
  <button mat-icon-button color="primary" [routerLink]="['/equipment/add-model']">
    + Add new equipment model
  </button>
  <div>
    <table mat-table [dataSource]="models" class="mat-elevation-z8 model-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Equipment models</th>
        <td mat-cell style="font-size: large" *matCellDef="let model">
          <div class="model-name">
            <b>{{ model.name }}</b>
          </div>
          <table mat-table [dataSource]="model.items" class="item-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="font-size: small">Items</th>
              <td mat-cell *matCellDef="let item" style="font-size: medium">{{ item.name }}</td>
            </ng-container>
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef style="font-size: small">Room</th>
              <td mat-cell *matCellDef="let item" style="font-size: medium">{{ item.room.name }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="itemTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: itemTableColumns;">
            </tr>
          </table>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="modelTableColumns"></tr>
      <tr mat-row *matRowDef="let row; let model; columns: modelTableColumns;"
        [routerLink]="[ '/equipment/model/' + model.id ]">
      </tr>
    </table>
  </div>
</div>
