<div>
  <h2>Clients</h2>
  <div>
    <button mat-raised-button color="primary" (click)="getAllClients()">All</button>
    <button mat-raised-button color="primary" (click)="getAllRegisteredClients()">Registered</button>
    <button mat-raised-button color="primary" (click)="getAllUnregisteredClients()">Unregistered</button>

    <table mat-table [dataSource]="clients" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let client">{{ client.name }}</td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Surname</th>
        <td mat-cell *matCellDef="let client">{{ client.surname }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let client">{{ client.phoneNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let client">
          <span *ngIf="client.email">{{ client.email }}</span>
          <span *ngIf="!client.email">-</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let client; columns: displayedColumns;"
          class="element-row" (click)="pickClient(client)"></tr>
    </table>
  </div>
</div>
