
<mat-card *ngIf="currentUser; else loggedOut" class="col-md-6 card container-fluid ">
  <header>
    <h3>
      <strong>{{ userDetails?.name }} {{ userDetails?.surname }}</strong>
    </h3>
  </header>
  <br>

  <mat-divider ></mat-divider>

  <table>
    <tr>
      <td><strong>First name:</strong></td>
      <td>{{ userDetails?.name }}</td>
    </tr>

    <tr>
      <td><strong>Surname:</strong></td>
      <td>{{ userDetails?.surname }}</td>
    </tr>
    <tr>
      <td><strong>Phone number:</strong></td>
      <td>+{{ userDetails?.phoneNumber }}</td>
    </tr>
    <tr>
      <td><strong>Login:</strong></td>
      <td>{{ userDetails?.login }}</td>
    </tr>
    <tr class="button-row">
      <td><button mat-icon-button color="primary" [routerLink]="['/profile/edit-profile' ]">Edit profile</button></td>
    </tr>
    <br>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{ userDetails?.email }}</td>
    </tr>
    <tr class="button-row">
      <td><button mat-icon-button color="primary" [routerLink]="['/profile/edit-email']">Change email</button></td>
    </tr>

    <tr>
      <td><strong>Password:</strong></td>
      <td>********</td>
    </tr>


    <tr class="button-row">
      <td><button mat-icon-button color="primary">Change password</button></td>
    </tr>

    <br>
    <tr>
      <td><strong>Role:</strong></td>
      <td><span>{{ userRole?.name | lowercase | slice : 5 }}</span></td>
    </tr>
  </table>

</mat-card>


<ng-template #loggedOut>
  Please login.
</ng-template>

