<div class="container mat-elevation-z8" *ngIf="currentUser; else loggedOut">
  <header>
    <h3>
      <strong>{{ userDetails?.name }} {{ userDetails?.surname }}</strong>
    </h3>
  </header>
  <br>

  <table>
    <tr>
      <td><strong>First name:</strong></td>
      <td>{{ userDetails?.name }}</td>
    </tr>
    <tr>
      <td><strong>Surname:</strong></td>
      <td>{{ userDetails?.surname }}</td>
    </tr>
    <tr>
      <td><strong>Phone number:</strong></td>
      <td>+{{ userDetails?.phoneNumber }}</td>
    </tr>
    <tr>
    <tr>
      <td><strong>Login:</strong></td>
      <td>{{ userDetails?.login }}</td>
    </tr>
    <tr class="button-row">
      <td><button mat-icon-button color="primary">Edit profile</button></td>
    </tr>
    <br>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{ userDetails?.email }}</td>
    </tr>
    <tr class="button-row">
      <td><button mat-icon-button color="primary">Change email</button></td>
    </tr>
    <tr>
      <td><strong>Password:</strong></td>
      <td>********</td>
    </tr>
    <tr class="button-row">
      <td><button mat-icon-button color="primary">Change password</button></td>
    </tr>
    <br>
    <tr>
      <td><strong>Role:</strong></td>
      <td><span>{{ userRole?.name | lowercase | slice : 5 }}</span></td>
    </tr>
  </table>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
