<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ dataUser?.login }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ dataUser?.email }}
  </p>
  <p>
    <strong>First name:</strong>
    {{ dataUser?.name }}
  </p>
  <p>
    <strong>Surname:</strong>
    {{ dataUser?.surname }}
  </p>

  <p>
    <strong>Phone number:</strong>
    +{{ dataUser?.phoneNumber }}
  </p>

  <p>
    <strong>Role: </strong>
    <span *ngFor="let role of currentUser?.roles; let last = last">
      <span *ngIf="last">{{ role | lowercase | slice : 5 }}</span>
    </span>
  </p>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
