<div>
  <table mat-table [dataSource]="roomItems" class="mat-elevation-z8 model-table">

    <ng-container matColumnDef="roomName">
      <th mat-header-cell *matHeaderCellDef>Room name</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let item">
        <span *ngIf="item.description != ''">{{ item.description }}</span>
        <span *ngIf="item.description == ''">-</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button mat-raised-button type="button"
                (click)="openRoomSelectionDialog(item)">
          Configure
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
