<mat-toolbar>
  <div class="left-item">
    <button mat-icon-button *ngIf="sidenav.mode === 'over' && isLoggedIn"
            (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>

    <a href="#">Meduva</a>
  </div>

  <div class="right-item">
    <div class="my-row">
      <a href="/register" class="nav-link" routerLink="register"
         *ngIf="!isLoggedIn">
        Sign Up
      </a>
      <a href="/login" class="nav-link" routerLink="login"
         *ngIf="!isLoggedIn">
        Login
      </a>
      <a href class="nav-link" (click)="logout()"
         *ngIf="isLoggedIn">
        LogOut
      </a>
    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav class="mat-elevation-z8"
    #sidenav="matSidenav" mode="side">

    <h4 class="name">Name{{ username }}</h4>
    <p class="designation">Role</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
    <!--
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    -->
  </mat-sidenav-content>
</mat-sidenav-container>
