<mat-toolbar>
  <div class="left-item">
    <button mat-icon-button *ngIf="sidenav.mode === 'over' && isLoggedIn"
            (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>

    <a href="#">Meduva</a>
  </div>

  <div class="right-item">
    <div class="my-row">
      <a href="/register" class="nav-link" routerLink="register"
         *ngIf="!isLoggedIn">
        Sign Up
      </a>
      <a href="/login" class="nav-link" routerLink="login"
         *ngIf="!isLoggedIn">
        Login
      </a>
      <a href class="nav-link" (click)="logout()"
         *ngIf="isLoggedIn">
        LogOut
      </a>
    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav class="mat-elevation-z8"
    #sidenav="matSidenav" mode="side">

    <div *ngIf="isLoggedIn">

      <div *ngIf="showClientOptions">
        <button mat-button class="menu-button" routerLink="profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
          <mat-icon>book</mat-icon>
          <span>Make an appointment</span>
        </button>
        <div *ngIf="showWorkerOptions">
          <button mat-button class="menu-button" routerLink="visit/pick-service">
            <mat-icon>assignment_turned_in</mat-icon>
            <span>Plan Your visit</span>
          </button>
        </div>
        <button mat-button class="menu-button">
          <mat-icon>view_list</mat-icon>
          <span>Your visits</span>
        </button>
      </div>

      <mat-divider></mat-divider>

      <button *ngIf="showWorkerOptions" mat-button class="menu-button" routerLink="client/list">
        <mat-icon>accessible</mat-icon>
        <span>Clients</span>
      </button>

      <mat-divider></mat-divider>

      <mat-accordion *ngIf="showWorkerOptions">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button class="menu-button">
                <mat-icon>schedule</mat-icon>
                <span>Schedules</span>
              </button>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="schedule/my">
              <span>Your Schedule</span>
            </button>
          </div>
          <div class="admin-panel-items" *ngIf="showReceptionistOptions">
            <button mat-button class="menu-button" routerLink="schedule/workers/pick-worker">
              <span>Workers</span>
            </button>
          </div>
          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="schedule/room/pick-room">
              <span>Rooms</span>
            </button>
          </div>
          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="schedule/item/pick-item">
              <span>Items</span>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngIf="showAdminPanel">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button class="menu-button">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Admin panel</span>
              </button>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="services">
              <mat-icon>work</mat-icon>
              <span>Services</span>
            </button>
          </div>

          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="equipment">
              <mat-icon>build</mat-icon>
              <span>Equipment</span>
            </button>
          </div>
          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="rooms">
              <mat-icon>home</mat-icon>
              <span>Rooms</span>
            </button>
          </div>
          <div class="admin-panel-items">
            <button mat-button class="menu-button" routerLink="users">
              <mat-icon>manage_accounts</mat-icon>
              <span>Users</span>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
