<button mat-icon-button color="primary" routerLink='/services'>
  <- Back to configuration
</button>


<mat-stepper [linear]="true" orientation="vertical" #stepper>

<mat-step label="Define new service" [completed]="!form.valid">
  <app-new-service-details-creator>

  </app-new-service-details-creator>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</mat-step>

  <mat-step label="Assign items">
    <app-items-select-service-creator>

    </app-items-select-service-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
  </mat-step>

  <mat-step label="Assign rooms">

    <app-rooms-select-service-creator>

    </app-rooms-select-service-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Everything is ready.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button  [mat-dialog-close]>Save</button>
    </div>
  </mat-step>



</mat-stepper>
