<button mat-icon-button color="primary" routerLink='/services'>
  <- Back to configuration
</button>


<mat-stepper [linear]="true" orientation="vertical" #stepper>

<mat-step label="Define new service" [completed]="!form.valid">

  <app-new-service-details-creator
                                      (newServiceEmitter)="onServiceCreated($event)">
  </app-new-service-details-creator>
  <br>

</mat-step>

  <mat-step label="Assign items">

    <app-items-select-service-creator *ngIf="eqModels.length"
                                      [creatorModels]="eqModels"
                                      [service]="service"
                                      (relatedItemsEmitter)="onItemsLinked($event)"
                                      (serviceEmitter)="onServiceCreated($event)"
                                      (selectedItemsEmitter)="onSelectedModelsGot($event)">
    </app-items-select-service-creator>


  </mat-step>

  <mat-step label="Assign rooms">

    <app-rooms-select-service-creator *ngIf="roomItems.length && eqModels.length && selectedModels.length"
                                      [creatorRooms]="roomItems"
                                      [service]="service"
                                      [creatorModels]="eqModels"
                                      [selectedModels]="selectedModels"
                                      (relatedRoomsEmitter)="onRoomsLinked($event)">
    </app-rooms-select-service-creator>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Everything is ready.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button  [mat-dialog-close]="onServiceReady()">Save</button>
    </div>
  </mat-step>



</mat-stepper>
