<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="modelFormGroup">
    <form [formGroup]="modelFormGroup">
      <ng-template matStepLabel>Create new equipment model</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Model name</mat-label>
        <input matInput formControlName="modelName" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Item count</mat-label>
        <input matInput type="number" step="1" min="1" formControlName="itemCount" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="fetchServices()">Next</button>
      </div>
    </form>
  </mat-step>
  <!-- temporary step -->
  <mat-step label="Connect model with services">
    <mat-selection-list #selectionListServices [(ngModel)]="selectedServices" [compareWith]="compareFunction">
      <mat-list-option *ngFor="let service of services" [value]="service">
        {{ service.name }}
      </mat-list-option>
    </mat-selection-list>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="saveSelectedServicesIds()">Next</button>
    </div>
  </mat-step>
  <!-- temporary step -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="saveModelWithItems()">Save</button>
    </div>
  </mat-step>
</mat-stepper>
