@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
  --purple:#574B90;
  --pink:#ff69b4;
  --gradient:linear-gradient(90deg, var(--purple), var(--pink));

  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
}

*::selection{
  background:var(--pink);
  color:#fff;
}

body{
  background:#f9f9f9;
}

h3{
  font-weight: bold;
}

section{

  padding:0 9%;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.btn{
  padding:.8rem 3rem;
  display: inline-block;
  border-radius: 10px;
  background-image: linear-gradient(to right, #574B90, #786EA6, #574B90);
  background-size: 200%;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.btn:hover{
  background-position: right;
  transform: scale(1.1);
}

.heading{
  text-align: center;
  background:var(--purple);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-transform: uppercase;
  padding:10px;
  font-weight: bold;
}
.subheading{
  text-align: center;
  background:var(--gradient);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  text-transform: uppercase;
  padding:10px;
  font-weight: bold;
  letter-spacing: 3px;
}


.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:url(../../../assets/images/landing-page/Przechwytywanie2.JPG) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .image img{
  width:40vw;
  animation: float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-3.5rem);
  }
}
.home .content{
  max-width: 600px;
  top: 100px;
}
.home .content h3{
  font-size: 50px;
  font-weight: bold;
  color:#333;
  text-transform: uppercase;
}

.home .content h3 span{
  color:var(--purple);
  text-transform: uppercase;
}

.home .content p{
  font-size: 17px;
  color:#333333;
  padding:1rem 0;
}

.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.features .box-container .box{
  flex:1 1 30rem;
  background:#fff;
  border:.1rem solid rgba(87,75,144,.1);
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
  margin:15px;
  padding:30px 20px;
  border-radius: 10px;
  text-align: center;
  transition: .2s linear;
}

.features .box-container .box img{
  height: 150px;
  margin-bottom: 15px;
}

.features .box-container .box h3{
  font-size: 20px;
  color:#333;
  padding-top: 10px;
}

.features .box-container .box p{
  font-size: 14px;
  color:#666;
  padding: 10px 0;
}

.features .box-container .box .btn{
  font-size: 16px;
  padding:.6rem 2rem;
}

.about{
  background:#192024;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about h1{
  color: #f9f9f9;
}

.about .column{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .column .image{
  flex:1 1 40rem;
}

.about .column .image img{
  width:100%;
}

.about .column .content{
  flex:1 1 40rem;
}

.about .column .content h3{
  font-size: 30px;
  color:#666;
}

.about .column .content p{
  font-size: 15px;
  color:#666;
  padding:10px 0;
}

.about .column .content .buttons a:last-child{
  margin-left: 20px;
}

.review .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review h1{
  margin-bottom: 10px;
}
.review .box-container .box{
  background:#fff;
  margin:10px;
  padding:30px 20px;
  text-align: center;
  position: relative;
  border:.1rem solid rgba(87,75,144,.1);
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.2);
  flex:1 1 30rem;
  border-radius: 10px;
}


.review .box-container .box .user img{
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width:70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review .box-container .box .user h3{
  background:var(--gradient);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  margin-bottom: 5px;
}

.review .box-container .box .comment{
  color:#666;
  font-size: 14px;
  padding:10px;
}


.contact .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;

  padding: 20px 100px;
}

.contact .box-container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../../../assets/images/landing-page/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact .box-container .box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  background: url("../../../assets/images/landing-page/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
}


textarea{
  min-height: 100px;
}


@media screen and (max-width: 880px){
  .contact .box-container .box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}




/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  section{
    padding:0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }

}

@media (max-width:768px){


  .home{
    flex-flow: column;
  }

  .home .image img{
    width:100%;
  }

  .home .content h3{
    font-size: 3.6rem;
  }

  .home .content p{
    font-size: 1.5rem;
  }

  .about{
    background-position: right;
  }

  .newsletter p{
    width:auto;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .about .column .content .buttons a{
    width:100%;
    text-align: center;
  }

  .about .column .content .buttons a:last-child{
    margin: 1rem 0;
  }

}
