

<section class="home" id="home">

  <div class="content">
    <h3>software dedicated for <span>health care units</span></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit porro nam libero natus error consequatur sed repudiandae eos quo?</p>
    <a href="#" class="btn">Get started now</a>
  </div>

  <div class="image">
    <img src="/assets/images/landing-page/home-img.png" alt="">
  </div>

</section>



<section class="features" id="features">

  <h1 class="heading">What we do</h1>
  <h2 class="subheading">These are just a few of our services</h2>

  <div class="box-container">
    <div class="box">
      <img src="/assets/images/landing-page/Vector.png" alt="">
      <h3>Booking appointments</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/images/landing-page/Vector.png" alt="">
      <h3>Managing schedules</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/images/landing-page/Vector.png" alt="">
      <h3>Facility configuration</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
      <a href="#" class="btn">read more</a>
    </div>

  </div>

</section>

<section class="about" id="about">

  <h1 class="heading"> about the app </h1>

  <div class="column">

    <div class="content">
      <h3>Easy And Perfect Solution For Your Business App</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla placeat deserunt saepe repudiandae veniam soluta minima dolor hic aperiam iure.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quaerat. Dolorem ratione saepe magni quo inventore porro ab voluptates eos, nam eius provident accusantium, quia similique est, repellendus et reiciendis.</p>
      <div class="buttons">
        <a href="#" class="btn"> <i class="fab fa-apple"></i> app store </a>
        <a href="#" class="btn"> <i class="fab fa-google-play"></i> google-play </a>
      </div>
    </div>
    <div class="image">
      <img src="/assets/images/landing-page/about-img.png" alt="">
    </div>
  </div>

</section>

<section class="review" id="review">

  <h1 class="heading"> Authors </h1>

  <div class="box-container">

    <div class="box">
      <div class="user">
        <img src="/assets/images/landing-page/pic1.png" alt="">
        <h3>Bartosz Biegajło</h3>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>

    <div class="box">
      <div class="user">
        <img src="/assets/images/landing-page/pic2.png" alt="">
        <h3>Grzegorz Bielesza</h3>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>

    <div class="box">
      <div class="user">
        <img src="/assets/images/landing-page/pic3.png" alt="">
        <h3>Przemysław Bajda</h3>
        <div class="comment">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
        </div>
      </div>
    </div>

  </div>

</section>


<section class="contact" id="contact">

  <h1 class="heading">Contact us</h1>

  <div class="box-container">

    <div class="box">
      <div class="left"></div>
      <div class="right">
        <form class="basic-form">

          <mat-form-field class="wide-element" appearance="outline">
            <mat-label>Name:</mat-label>
            <input matInput id="name" type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field class="wide-element" appearance="outline">
            <mat-label>E-mail:</mat-label>
            <input matInput id="email" type="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="wide-element" appearance="outline">
            <mat-label>Phone number:</mat-label>
            <input matInput id="phone" type="text" formControlName="phone">
          </mat-form-field>

          <mat-form-field class="wide-element" appearance="outline">
            <mat-label>Message:</mat-label>
            <textarea matInput id="message" type="text" formControlName="message"></textarea>
          </mat-form-field>

          <button class="btn btn-primary btn-block" type="submit" value="send-message">
            Send message
          </button>

        </form>
      </div>
    </div>
  </div>


</section>

<app-footer></app-footer>
