@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
  --purple:#574B90;
  --pink:#854162;
  --gradient:linear-gradient(90deg, var(--purple), var(--pink));

  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
}

*::selection{
  background:var(--pink);
  color:#fff;
}

body{
  background:#f9f9f9;
}

h3{
  font-weight: bold;
}

section{

  padding:0 9%;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.btn{
  padding:.8rem 3rem;
  display: inline-block;
  border-radius: 10px;
  background-image: linear-gradient(to right, #574B90, #786EA6, #574B90);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.btn:hover{
  background-position: right;
  transform: scale(1.1);
}

.heading{
  text-align: center;
  background:var(--gradient);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-transform: uppercase;
  padding:10px;
  font-weight: bold;
}


.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(/src/assets/images/landing-page/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .image img{
  width:40vw;
  animation: float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-3.5rem);
  }
}

.home .content h3{
  font-size: 50px;
  font-weight: bold;
  color:#333;
  text-transform: uppercase;
}

.home .content h3 span{
  color:var(--pink);
  text-transform: uppercase;
}

.home .content p{
  font-size: 17px;
  color:#666;
  padding:1rem 0;
}

.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  flex:1 1 30rem;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  margin:15px;
  padding:30px 20px;
  border-radius: 10px;
  text-align: center;
  transition: .2s linear;
}

.features .box-container .box img{
  height: 150px;
}

.features .box-container .box h3{
  font-size: 20px;
  color:#333;
  padding-top: 10px;
}

.features .box-container .box p{
  font-size: 14px;
  color:#666;
  padding: 10px 0;
}

.about{
  background:url(/src/assets/images/landing-page/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image{
  flex:1 1 40rem;
}

.about .column .image img{
  width:100%;
}

.about .column .content{
  flex:1 1 40rem;
}

.about .column .content h3{
  font-size: 30px;
  color:#666;
}

.about .column .content p{
  font-size: 15px;
  color:#666;
  padding:10px 0;
}

.about .column .content .buttons a:last-child{
  margin-left: 20px;
}

.newsletter{
  text-align: center;
  padding:50px 10px;
  background:url(/src/assets/images/landing-page/subscribe-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter h3{
  color:#fff;
  font-size: 30px;
  text-transform: uppercase;
}

.newsletter p{
  color:#fff;
  font-size: 16px;
  margin:20px auto;
  width:700px;
}

.newsletter form{
  display: flex;
  max-width: 700px;
  border:2px solid #fff;
  padding:5px;
  border-radius: 50px;
  margin:20px auto;
  height:55px;
}

.newsletter form input[type="email"]{
  padding:0 20px;
  font-size: 17px;
  background:none;
  width:100%;
  color:#fff;
  text-transform: none;
  background:none;
}

.newsletter form input[type="email"]::placeholder{
  color:#eee;
  text-transform: capitalize;
}

.newsletter form input[type="submit"]{
  background:#fff;
  width:200px;
  font-size: 17px;
  border-radius: 50px;
  cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
  color:var(--pink);
}

.review .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box{
  background:#fff;
  margin:10px;
  padding:10px;
  text-align: center;
  position: relative;
  border:1px solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  flex:1 1 30rem;
  border-radius: 10px;
}


.review .box-container .box .user img{
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width:70px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.review .box-container .box .user h3{
  color:var(--pink);
  font-size: 20px;
}

.review .box-container .box .comment{
  color:#666;
  font-size: 14px;
  padding:10px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.contact .image{
  flex:1 1 40rem;
}

.contact .image img{
  width:100%;
  padding:2rem;
}

.contact form{
  flex:1 1 40rem;
  padding:20px 30px;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  border-radius: 10px;
  background:#fff;
}

.contact form .heading{
  text-align: left;
  padding:0;
  padding-bottom: 20px;
}

.contact form .inputBox{
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
  width:100%;
  background:none;
  color:#666;
  margin:15px 0;
  padding:5px 0;
  font-size: 17px;
  border-bottom: .1rem solid rgba(0,0,0,.1);
  text-transform: none;
}

.contact form .inputBox textarea{
  resize: none;
  height: 130px;
}

.contact form .inputBox label{
  position: absolute;
  top:17px; left:0;
  font-size: 17px;
  color:#666;
  transition: .2s linear;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label{
  top:-5px;
  font-size: 15px;
  color:var(--pink);
}


/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  section{
    padding:0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }

}

@media (max-width:768px){

  header label{
    visibility: visible;
    opacity: 1;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0;
    width:100%;
    background:#fff;
    padding:1rem 2rem;
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .2s linear;
  }

  header .navbar a{
    display: block;
    margin:2rem 0;
    font-size: 2rem;
  }

  header input:checked ~ .navbar{
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before{
    content:'\f00d';
  }

  .home{
    flex-flow: column-reverse;
  }

  .home .image img{
    width:100%;
  }

  .home .content h3{
    font-size: 3.6rem;
  }

  .home .content p{
    font-size: 1.5rem;
  }

  .about{
    background-position: right;
  }

  .newsletter p{
    width:auto;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .about .column .content .buttons a{
    width:100%;
    text-align: center;
  }

  .about .column .content .buttons a:last-child{
    margin: 1rem 0;
  }

}
