<button class="close" mat-icon-button [mat-dialog-close]="true">X</button>
<h3>{{ dateString }}</h3>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="!settingUnavailability"
          (click)="settingUnavailability = true">Set unavailability</button>
  <div *ngIf="settingUnavailability">
    Set unavailability for:
    <br><br>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedUnavailOption">
      <mat-radio-button [value]="THAT_DAY">This day</mat-radio-button><br>
      <mat-radio-button [value]="THAT_DAY_AND_NEXT">This day and the days that follow</mat-radio-button>
    </mat-radio-group>
    <br><br>
    <button mat-raised-button color="primary"
            (click)="onUnavailabilitySet()"
            [disabled]="selectedUnavailOption == undefined">
      Submit
    </button>
  </div>
</div>
