<footer class="footer">
  <div class="container">
    <div class="row">


      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-about">
          <div class="footer-logo">
            <a href="#"><img src="assets/images/LogoFooter.png" alt=""></a>
          </div>
          <p>The Customer is the most important player in the software market, that's why we strive to deliver the highest quality software.</p>
          <a href="#"><img src="" alt=""></a>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
        <div class="footer-widget">
          <h6>Last work</h6>
          <ul>
            <li><a href="#">Graphics Improvements</a></li>
            <li><a href="#">Configuration Creator</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-2  col-md-3 col-sm-6">
        <div class="footer-widget">
          <h6>Links</h6>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Figma</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h6>NewsLetter</h6>
          <div class="footer-newslatter">
            <p>Be the first to know about new features, changes & versions of software!</p>
            <form action="#">
              <input type="text" placeholder="Your Email">
              <button type="submit"><span><i class="fa fa-envelope"
                                             arial-hidden="true"></i></span></button>
            </form>
          </div>

        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer-copyright-text">
          <p>Copyright &copy; 2021 All rights reserved | This application is made with <i class="fa fa-heart-o" arial-hidden="true"></i>
            by <a href="#">Bartosz Biegajło, Grzegorz Bielesza, Przemysław Bajda</a></p>
        </div>
      </div>
    </div>


  </div>

</footer>
