th.mat-header-cell, td.mat-header-cell {
  margin-right: 10px;
  margin-left: 10px;
}

th.mat-header-cell {
  color: #4f4c79;
  font-size: medium;
}

table {
  width: 90%;
  max-width: 800px;
  min-width: 400px;
}

button {
  margin-right: 1px;
}

.mat-raised-button.mat-primary {
  background-color: #4f4c79;
}

.element-row:hover{
  cursor: pointer;
  background: #f5f5f5;
}
