
<div>
  <button mat-icon-button color="primary" [routerLink]="['/room/' + roomId]">
    <-- Back to room</button>
  <h2>Edit performed itemless services</h2>
  <div>
    <table mat-table [dataSource]="itemsDataSource" class="mat-elevation-z8 col-md-4">

      <ng-container matColumnDef="service.name">
        <th mat-header-cell *matHeaderCellDef class="col-md-3">Name</th>
        <td mat-cell *matCellDef="let item"><b>{{ item.service.name }}</b></td>
      </ng-container>
      <!--<ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="col-md-1">Action</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox>
          </mat-checkbox>
        </td>
      </ng-container>
-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let item; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>

