<h3>Available Terms:</h3>
<div>
  <table mat-table [dataSource]="availableTerms" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let term"><b>{{ term.startTime }}</b></td>
    </ng-container>
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef>Room</th>
      <td mat-cell *matCellDef="let term">{{ term.roomName }}</td>
    </ng-container>
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item code</th>
      <td mat-cell *matCellDef="let term">{{ term.eqItemName }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let service; columns: displayedColumns;">
    </tr>
  </table>
</div>
