<form [formGroup]="numberOfRoomsGroup">
  <ng-template matStepLabel>How many rooms u want to add?</ng-template>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Item count</mat-label>
    <input matInput type="number" step="1" min="1" formControlName="itemCount" required>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="button"
          [disabled]="this.numberOfRoomsGroup.invalid"
          (click)="validateForm()">Save</button>

  <div *ngIf="successMessage" class="alert alert-success">
    <p>{{ successMessage }}</p>
  </div>
</form>
