<div class="centered-content">
  <form class="basic-form" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()" [formGroup]="form">
    <br><br>
    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>Login:</mat-label>
      <input matInput id="login" type="text" formControlName="login">
      <mat-error *ngIf="form.controls.login.invalid &&
                          (form.controls.login.dirty || form.controls.login.touched)">
        Login is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>Password:</mat-label>
      <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password">

      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls.password.invalid &&
                          (form.controls.password.dirty || form.controls.password.touched)">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput id="email" type="text" formControlName="email">
      <mat-error *ngIf="form.controls.email.invalid &&
                          (form.controls.email.dirty || form.controls.email.touched)">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>First name:</mat-label>
      <input matInput id="name" type="text" formControlName="name">
      <mat-error *ngIf="form.controls.name.invalid &&
                          (form.controls.name.dirty || form.controls.name.touched)">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>Surname:</mat-label>
      <input matInput id="surname" type="text" formControlName="surname">
      <mat-error *ngIf="form.controls.surname.invalid &&
                          (form.controls.surname.dirty || form.controls.surname.touched)">
        Surname is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="wide-element" appearance="outline">
      <mat-label>Phone number:</mat-label>
      <input matInput id="phoneNumber" type="text" formControlName="phoneNumber">
      <mat-error *ngIf="form.controls.phoneNumber.invalid &&
                          (form.controls.phoneNumber.dirty || form.controls.phoneNumber.touched)">
        Phone number is required
      </mat-error>
    </mat-form-field>

    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>

    <br><br>
    <div class="alert alert-warning" *ngIf="isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
    </div>

    </form>

  <div *ngIf="isSuccessful">
    <div class="alert alert-success" >
      Your registration is successful!
    </div>

    <button class="btn btn-primary btn-block" [routerLink]="['/login']">Log in!</button>
  </div>




</div>
