<mat-card class="col-md-6 card container-fluid " >
  <div *ngIf="responseReceived">
    <div *ngIf="isTokenValid">
      <div
        class="alert alert-success"
        role="alert">
        Email changed successfully. Please Log in.
      </div>
      <div class="col-md-12 centered-content">
        <a href="login" class="btn btn-primary col-md-6">Log in</a>
      </div>
    </div>


    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="!isTokenValid">
      Email activation error: {{errorMsg}}
    </div>
  </div>
</mat-card>
