<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>

      <div class="form-group">
        <label>Login</label>
        <input
          type="text" class="form-control" name="login"
          [(ngModel)]="form.login"
          required
          #login="ngModel"/>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="text" class="form-control" name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"/>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>

      <button mat-icon-button color="primary" routerLink='reset-password-email'>
        I don't remember my password.
      </button>
    </form>
  </div>
</div>
