<br>
<h4>Assign equipment models:</h4>
<br>
<mat-checkbox id="autoPickRooms" formControlName="autoPickRooms" (change)="changeAutoState()" [checked]="automatically">Automatically</mat-checkbox>


<div class="alert alert-warning" *ngIf="!automatically">
  <mat-selection-list #selectionListServices
                      [(ngModel)]="selectedRooms"
                      [compareWith]="compareFunction"
                      (selectionChange)="emitSelectedServicesIds()">
    <mat-list-option *ngFor="let room of rooms" [value]="room">
      {{ room.name }}
    </mat-list-option>
  </mat-selection-list>
</div>



<br>
