<br>
<h4>Assign equipment models:</h4>
<mat-selection-list #selectionListServices
                    [(ngModel)]="selectedModels"
                    [compareWith]="compareFunction"
                    (selectionChange)="assignEquipmentToService()">
  <mat-list-option *ngFor="let model of models" [value]="model">
    {{ model.name }}
  </mat-list-option>
</mat-selection-list>

<br>
<mat-checkbox id="itemless" [(ngModel)]="service.itemless"
                            (change)="clearSelection()">
  Service is itemless
</mat-checkbox>

<br>
<div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext [disabled]="selectedModels.length<=0 && service.itemless==false">Next</button>
</div>
<br>
<div *ngIf="selectedModels.length<=0 && service.itemless==false" class="alert alert-warning">
  <p>{{ "The service must be associated with any device or itemless" }}</p>
</div>
