<form class="basic-form" [formGroup]="form">

  <br>
  <mat-form-field class="wide-element" appearance="outline">
    <mat-label>Service name:</mat-label>
    <input matInput id="name" type="text" formControlName="name">

    <mat-error *ngIf="form.controls.name.invalid &&
                            (form.controls.name.dirty || form.controls.name.touched)">
      <mat-error *ngIf="form.controls.name.errors?.required">
        Name is required
      </mat-error>
    </mat-error>

  </mat-form-field>

  <mat-form-field class="wide-element" appearance="outline">
    <mat-label>Description:</mat-label>
    <textarea matInput
              id="description" formControlName="description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"></textarea>
  </mat-form-field>

  <mat-form-field class="wide-element" appearance="outline">
    <mat-label>Duration in minutes:</mat-label>
    <input matInput id="durationInMin" formControlName="durationInMin"
           type="number" step="30" min="30" placeholder="30">

    <mat-error *ngIf="form.controls.durationInMin.invalid &&
                            (form.controls.durationInMin.dirty || form.controls.durationInMin.touched)">
      <mat-error *ngIf="form.controls.durationInMin.errors?.wrongValue">
        Time should be divisible by 30
      </mat-error>
      <mat-error *ngIf="form.controls.durationInMin.errors?.required">
        Duration is required
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="wide-element" appearance="outline">
    <mat-label>Price:</mat-label>
    <input matInput id="price" formControlName="price"
           type="number" min="0.00" step="0.01"
           (blur)="roundPrice()">

    <mat-error *ngIf="form.controls.price.invalid &&
                            (form.controls.price.dirty || form.controls.price.touched)">
      <!-- TODO: improve -->
      <mat-error *ngIf="form.controls.price.errors?.required">
        Price is required
      </mat-error>
    </mat-error>
  </mat-form-field>

</form>

<div>
  <button mat-button matStepperNext (click)="onServiceCreated()">Next</button>
</div>
