<button mat-icon-button color="primary" routerLink='/equipment'>
  <- Back to equipment
</button>

<mat-stepper [linear]="true" orientation="vertical" #stepper>\



  <mat-step label="Number of rooms"
            [completed]="isFormValid">
    <app-number-of-rooms (eqItemsEmitter)="onItemsGeneration($event)"
                    (stepCompletionEmitter)="onModelFormSubmitted($event)">
    </app-number-of-rooms>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>



  <mat-step label="Place items in rooms"
            [completed]="areAllItemsDisplaced()">

    <app-room-select *ngIf="eqItems.length"
                     [eqItems]="eqItems"
                     (selectedIdsEmitter)="onRoomsSelected($event)">
    </app-room-select>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
    <div *ngIf="roomSelectionError" class="alert alert-warning">
      <p>{{ roomSelectionError }}</p>
    </div>
  </mat-step>



</mat-stepper>
