
<mat-stepper [linear]="true" orientation="vertical" #stepper>\



  <mat-step label="Number of rooms"
            [completed]="isFormValid">
    <app-number-of-rooms (roomItemsEmitter)="onItemsGeneration($event)"
                    (stepCompletionEmitter)="onModelFormSubmitted($event)">
    </app-number-of-rooms>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>



  <mat-step label="Configure your rooms"
            [completed]="areAllItemsDisplaced()">

    <app-configure-rooms-creator *ngIf="roomItems.length"
                                 [roomItems]="roomItems"
                                 (roomItemsEmitter)="onItemsGeneration($event)">
    </app-configure-rooms-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
    <div *ngIf="roomSelectionError" class="alert alert-warning">
      <p>{{ roomSelectionError }}</p>
    </div>
  </mat-step>





  <mat-step label="Add the equipment"
            [completed]="areAllItemsDisplaced()">

    <app-equipment-list-creator *ngIf="roomItems.length"
                                [roomItems]="roomItems">

    </app-equipment-list-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
    <div *ngIf="roomSelectionError" class="alert alert-warning">
      <p>{{ roomSelectionError }}</p>
    </div>
  </mat-step>



  <mat-step label="Personalize services"
            [completed]="areAllItemsDisplaced()">

    <app-service-list-creator>

    </app-service-list-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
    <div *ngIf="roomSelectionError" class="alert alert-warning">
      <p>{{ roomSelectionError }}</p>
    </div>
  </mat-step>

  <mat-step label="Assign services to employees"
            [completed]="areAllItemsDisplaced()">

    <app-service-list-creator>

    </app-service-list-creator>
    <br>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <br>
    <div *ngIf="roomSelectionError" class="alert alert-warning">
      <p>{{ roomSelectionError }}</p>
    </div>
  </mat-step>



</mat-stepper>
