<div>
  <h2>Equipment</h2>
  <br>
  <button mat-icon-button color="primary" (click)="openConfigureEquipmentCreatorDialog()">
    + Add new equipment model

  </button>
 <!-- <div>
    <table mat-table [dataSource]="models" class="mat-elevation-z8 model-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Equipment models</th>
        <td mat-cell style="font-size: large" *matCellDef="let model">
          <div class="model-name">
            <b>{{ model.name }} </b>
            <span *ngIf="!model.active" class="alarm-info"> INACTIVE</span>
          </div>
          <table mat-table [dataSource]="model.items" class="item-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="font-size: small">Items</th>
              <td mat-cell *matCellDef="let item" style="font-size: medium">{{ item.name }}</td>
            </ng-container>
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef style="font-size: small">Room</th>
              <td mat-cell *matCellDef="let item" style="font-size: medium">
                <span *ngIf="item.room">{{ item.room.name }}</span>
                <span *ngIf="!item.room">-</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item" style="font-size: medium">
                <span *ngIf="!item.active" class="alarm-info">INACTIVE</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="itemTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: itemTableColumns;">
            </tr>
          </table>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="modelTableColumns"></tr>
      <tr mat-row *matRowDef="let row; let model; columns: modelTableColumns;"
        [routerLink]="[ '/equipment/model/' + model.id ]">
      </tr>
    </table>
  </div>-->
</div>
