<button class="close" mat-icon-button [mat-dialog-close]="true">X</button>
<h3>{{ dateString }}</h3>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="!settingWorkHours"
          (click)="startSettingWorkHours()">Set work hours</button>
  <div *ngIf="settingWorkHours">
    <form (ngSubmit)="onWorkHoursSave()" [formGroup]="form">
      <table>
        <tr>
          <td><strong>Work start:</strong></td>
          <td>
            <ngx-timepicker-field formControlName="startTime"
                                  [format]="24"
                                  [defaultTime]="'23:11'"
                                  [controlOnly]="true"></ngx-timepicker-field>
          </td>
        </tr>
        <tr>
          <td><strong>Work end:</strong></td>
          <td>
            <ngx-timepicker-field formControlName="endTime"
                                  [format]="24"
                                  [defaultTime]="'23:11'"
                                  [controlOnly]="true"></ngx-timepicker-field>
          </td>
        </tr>
        <tr *ngIf="form.invalid">
          <mat-error *ngIf="form.controls.startTime.errors?.required && (form.dirty || form.touched)">
            Start time is required.
          </mat-error>
          <mat-error *ngIf="form.controls.endTime.errors?.required && (form.dirty || form.touched)">
            End time is required.
          </mat-error>
          <mat-error *ngIf="form.errors?.inWrongOrder && (form.dirty || form.touched)">
            Start time should be earlier than end time.
          </mat-error>
        </tr>
        <tr>
          <br>
          <button mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid">Save</button>
        </tr>
      </table>
    </form>
  </div>
</div>
