<button class="close" mat-icon-button [mat-dialog-close]="true">X</button>
<h3>{{ dateString }}</h3>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="!settingWorkHours && !settingAbsenceHours && !deletingWorkOrAbsenceHours"
          (click)="startSettingWorkHours()">Set work hours</button>
  <button mat-raised-button color="primary" *ngIf="!settingAbsenceHours && !settingWorkHours && !deletingWorkOrAbsenceHours"
          (click)="startSettingAbsenceHours()" >Set absence</button>
  <button mat-raised-button color="primary" *ngIf="!settingAbsenceHours && !settingWorkHours && !deletingWorkOrAbsenceHours"
          (click)="startDeletingHours()" >Delete hours</button>
  <div *ngIf="settingWorkHours || settingAbsenceHours">
    <form (ngSubmit)="chooseWorkHoursOrAbsence()" [formGroup]="form">
      <table>
        <p *ngIf="settingWorkHours">You are setting work hours</p>
        <p *ngIf="settingAbsenceHours">You are setting absence hours</p>
        <tr>
          <td><strong>Start:</strong></td>
          <td>
            <ngx-timepicker-field formControlName="startTime"
                                  [format]="24"
                                  [defaultTime]="'23:11'"
                                  [controlOnly]="true"></ngx-timepicker-field>
          </td>
        </tr>
        <tr>
          <td><strong>End:</strong></td>
          <td>
            <ngx-timepicker-field formControlName="endTime"
                                  [format]="24"
                                  [defaultTime]="'23:11'"
                                  [controlOnly]="true"></ngx-timepicker-field>
          </td>
        </tr>
        <tr *ngIf="settingAbsenceHours">
          <br>
          <td>
              <mat-checkbox (change)="setWholeDay()">Whole day</mat-checkbox><br>
          </td>
        </tr>

        <tr *ngIf="form.invalid">
          <mat-error *ngIf="form.controls.startTime.errors?.required && (form.dirty || form.touched)">
            Start time is required.
          </mat-error>
          <mat-error *ngIf="form.controls.endTime.errors?.required && (form.dirty || form.touched)">
            End time is required.
          </mat-error>
          <mat-error *ngIf="form.errors?.inWrongOrder && (form.dirty || form.touched)">
            Start time should be earlier than end time.
          </mat-error>
          <mat-error *ngIf="form.errors?.absenceHoursWithinWorkHours && (form.dirty || form.touched)">
            Absence hours must be within working hours.
          </mat-error>
          <mat-error *ngIf="form.errors?.workHoursUndefined">
            Working hours must be set.
          </mat-error>
        </tr>
        <tr>
          <br>
          <button mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid">Save</button>
        </tr>
      </table>
    </form>
  </div>

  <div *ngIf="deletingWorkOrAbsenceHours">
    <button mat-raised-button color="primary" *ngIf="deletingWorkOrAbsenceHours"
           (click)="tryToDeleteWorkingHours()" >Delete Work hours</button>
    <button mat-raised-button color="primary" *ngIf="deletingWorkOrAbsenceHours"
           (click)="tryToDeleteDailyAbsenceHours()" >Delete Absence hours</button>
    <br>
    <mat-error *ngIf="noAbsenceHoursError">
      There is no absence hours to delete
    </mat-error>
    <mat-error *ngIf="noWorkingHoursError">
      There is no working hours to delete
    </mat-error>
  </div>
</div>


