<div class="centered-content">
  <form class="basic-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <br><br>
    <mat-form-field class="wide-element" >
      <mat-label>Enter email:</mat-label>
      <input matInput id="email" type="text" formControlName="email">
    </mat-form-field>
    <div
      *ngIf="form.controls.email.invalid &&
      (form.controls.email.dirty || form.controls.email.touched)" class="form-error">
      You must enter correct email.
    </div>

    <br>
    <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary">
      Send password reset-link
    </button>
    <br><br>

    <p *ngIf="submitted">{{ resultInfo }}</p>
  </form>
</div>
