<div class="col-md-12">
  <div class="card card-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <label for="email">Enter email: </label>
      <input id="email" type="text" formControlName="email">
      <div
        *ngIf="form.controls.email.invalid &&
        (form.controls.email.dirty || form.controls.email.touched)" class="form-error">
        You must enter correct email.
      </div>

      <br>
      <button type="submit"
              *ngIf="form.controls.email.invalid" disabled>
        Send password reset-link
      </button>
      <button type="submit"
              *ngIf="!(form.controls.email.invalid)">
        Send password reset-link
      </button>
      <br>

      <p *ngIf="submitted">{{ info }}</p>
    </form>
  </div>
</div>
