<div *ngIf="!error" class="centered-content">

  <form (ngSubmit)="onSubmit()" class="basic-form">

    <mat-form-field class="wide-element">
      <mat-label>New password: </mat-label>
      <input matInput type="text" id="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field class="wide-element">
      <mat-label>Repeat password: </mat-label>
      <input matInput type="text" id="repeatPassword">
    </mat-form-field>
    <br><br>

    <button mat-raised-button color="primary" type="submit">Change password</button>
  </form>
</div>
