<div *ngIf="!error" class="centered-content">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="basic-form">

    <br>
    <mat-form-field class="wide-element">
      <mat-label>New password: </mat-label>
      <input matInput type="password" id="newPassword" formControlName="newPass">
    </mat-form-field>
    <div *ngIf="form.controls.newPass.invalid && (form.controls.newPass.dirty || form.controls.newPass.touched)"
         class="alert alert-danger">
      <div *ngIf="form.controls.newPass.errors?.minlength">
        Password have to be minimally 8 characters long
      </div>
      <div *ngIf="form.controls.newPass.errors?.maxlength">
        Password have to be maximally 20 characters long
      </div>
    </div>

    <br>
    <mat-form-field class="wide-element">
      <mat-label>Repeat password: </mat-label>
      <input matInput type="password" id="repeatPassword" formControlName="repeatNewPass">
    </mat-form-field>
    <br>
    <div *ngIf="form.errors?.differentPasswords && (form.touched || form.dirty)" class="alert alert-danger">
      Passwords must be the same
    </div>
    <br>

    <button mat-raised-button color="primary" type="submit">Change password</button>
  </form>
</div>
