/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.basic-form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
}

.wide-element {
  width: 100%;
}
