/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.basic-form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
}

.wide-element {
  width: 100%;
}

.flex {
  display: flex;
}

.btn-primary, .mat-raised-button.mat-primary{
  background-color: #4f4c79;
  border-color: #4f4c79;
}

.btn-primary:hover, .mat-raised-button.mat-primary:hover {
  background-color: #3d3b5e;
  border-color: #3d3b5e;
}

button:focus {
  outline: none;
}
